@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@100;200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;200;300;400;500;600;700&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@100;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;600&display=swap'); */

*{
    margin: 0;
    padding: 0;
    font-family: 'IBM Plex Mono', monospace;
    color: #060A24;
    font-size: 14px;
    font-weight: 400;
}

body{
    background-color:#FFFFFF ;
    max-width: 100vw;
    max-height: 5436px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

header{
    width:100vw;

}

.logo{
    margin: 5%;
    height: 24px;
}

.navegador input[type="checkbox"],.label-nav, .fas{
    position: absolute;  
    box-sizing: border-box;
    margin-right: 16px;
    padding: 0;
    right: 0;
    top: 0;
}

label{
    width: 32px;
    height: 32px;
}



.navegador input[type="checkbox"] {
    opacity: 0; 
  }

.ul-nav{
    background: #0000EC 100%;
    display: flex;
    flex-direction: column ;
    justify-content: space-around;
    width: 100vw;
   
}
.ul-nav li{
    display: inline-block;
    list-style: none;
    font-family: "IBM Plex Mono";
    font-size: 16px;
    color: #FFFFFF;
    letter-spacing: 0;
    line-height: 28px;
    margin-left: 8%;
   
}



.fas.fa-times{
    color: #060A24 100%;
 }

.navegador input:not(:checked)~ .ul-nav{
    max-height: 0;
    display: none;
}

.navegador input:checked~nav{
     display: block;
}

.navegador input:checked~ul{
    height: 50%;
    padding-bottom: 5%;
}


.navegador input[type="checkbox"]:checked ~label .fa-bars {
    display: none;

   
}
   
.navegador input[type="checkbox"]:not(:checked) ~label .fas.fa-times{
    display: none;

}



 .fas{ 
    font-size: 18px;
    pointer-events: none;
    margin-top: 20px;
}

.ul-nav a { 
    color: inherit;
    text-decoration: none;
    display: block;
    padding: 10px 20px;
    max-width: 224px;
    font-weight: 500;
}



main{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    max-width: 100vw;

}

h1, h2, span{ 
    font-family: "IBM Plex Sans", monospace;
    font-size: 36px;
    color: #060A24;
    letter-spacing: 0;
    line-height: 42px;
    
}

.epi-title{
    font-weight: lighter;
}

h3{
    font-family: "IBM Plex Sans";
    font-size: 24px;
    color: #060A24;
    letter-spacing: 0;
    text-align: center;
    font-weight: 600;
}

.intro{
    display: grid; 
    grid-template-columns: 5% 90% 5%; 
    grid-template-rows: 40% 35% 25%;
    margin-bottom: 10%;
}

h1, span{
    grid-column: 2/3;
    grid-row:1/2;
    align-self: center;
    max-width: 90%;

}


.world{
    text-decoration: line-through;
}

.descrip{
    grid-column: 2/3;
    grid-row: 2/3;
    margin-top: 5%;
    margin-bottom: 5%;
 
}
.descrip-desktop{
    display: none;
}

button{
    background: #00F3BB;
    font-family: "IBM Plex Mono";
    font-size: 18px;
    font-weight: 900;
    letter-spacing: 0;
    text-align: center;
    line-height: 24px;
    height: 48px;
    width: 90vw;
    border: none;
 
   
}
button a{
    text-decoration: none;
    color: #060A24;
}

button:hover{
    background-image: linear-gradient(225deg, #0000FE 0%, #00F0B8 100%);
    color: #FFFFFF;
}

button a:hover{
    color: #FFFFFF;
}

.conoce{
    margin-top: 7%;
    grid-column: 2/3;
    grid-row: 3/4;
}

.episodios-sec{     
    background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
    max-height: auto;
    max-width: 100vw;
    clip-path: polygon(0 3%, 100% 0%, 100% 97%, 0% 100%);
    display: flex;
    flex-flow: row wrap;
  
}

.epi-title{
    color: #FFFFFF;
    margin: 10%;
    margin-top: 20%;
    height: 36px;

}

.epi-list{
    padding-bottom: 75vmax;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;

}

.epi-list:last-child{
    margin-bottom: 35%;
}

iframe{
    height: 40%;
}


.phone{
    width: 100%;
    transform: translateY(-22%);
    margin-bottom: -30%;
}

.title2{
    max-width: 50vw;
}

.venimos{
    margin: 5%;
}

.descr-venimos{
    margin-top: 4%;
}

.invitados{
    margin: 8%;

}

.title3{
    margin: 5%;
}

.inv-est{
    width: 100vw;
}

.temas{
    margin: 6%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.setting-temas{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5%;
}

.stimg{
    margin: 15%;
    margin-bottom: 5%;
}

.nov-sect{
    clip-path: polygon(0 12%, 100% 0%, 100% 100%, 0% 100%);
    background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;  
    width: 100vw;

}
.tit-nov{
    color: #FFFFFF;
    text-align: center;
    margin-bottom: 15%;
    margin-top: 20%;
}

.escucha{
    margin-bottom: 20% ;
}

footer{
    display: flex;
    flex-flow: column wrap;
    align-items: center;

}
.copyright{
    max-height: 14px;
    text-align: center;
    margin-top: 10%;
}

.contacto{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 3%; 
    width: 90vw;
    padding-bottom: 5%;
}
.fab{
    margin: 5%;
    height:5%;
}

@media screen and (min-width: 730px){
    *{
        font-family: "IBM Plex Mono";
        font-size: 16px;
        color: #060A24;
        letter-spacing: 0;
        line-height: 24px;
    }

    .fas, input[type="checkbox"]{
        display: none;
        opacity: 0;
        max-height: 0;
    }

    header{
        grid-column: 1/3;
        grid-row: 1/2;
        width: 100vw;
        height: 80px;
        display: grid;
        grid-template-columns: 10% 4% 2fr 1fr ;
        grid-template-rows: 22px 36px 33px;
        
    }

    .logo{
        height:36px;
        width: 36px;
        grid-column: 2/3;
        grid-row:2/3 ;
    }

    .navegador{
        grid-column: 4/5;
        grid-row:1/3; 
        margin: ;
        
    }



    .navegador input:not(:checked)~ .ul-nav{
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: baseline;
        max-height: 80px;
        width: 582px;
        background: #FFFFFF 100%;
        grid-row: 1/3;
        margin-top: 2%;

    }

    .navegador .ul-nav li{
        font-size: 16px;
        color: #060A24;
        letter-spacing: 0;
        line-height: 28px;
        display: block;
        height: auto;
        grid-row: 2/3;
        margin-left: 0;
        

    }
    .ul-nav li :last-child{
        margin-right: 5%;
    }

    .ul-nav li a:hover {
        color: #00F3BB;
        text-decoration: line-through;
    }

    .ul-nav li a:active{
        color: rgba(6,10,36,0.56);
        text-decoration: line-through;

    }



    .main{
        display: flex;
        flex-flow: column wrap;
        align-items: flex-start;
    }
    .intro{
        width: 100vw;
        display:grid;
        grid-template-rows: 1fr 25% 35%;
        grid-template-columns: 15% 55% 30%;
        padding-bottom: 5%;
    }
    h1, span{
        grid-row: 1/2;
        grid-column: 2/4;
        font-size: 64px;
        margin-top: 10%; 
        align-self: end;
        font-weight: normal;
    }
    .dot{
        color: #0000EC;
    }
    .descrip{
        display: none;
    }
    .descrip-desktop{
        display: block;
        grid-row: 2/3;
        grid-column: 2/4;
        align-self: start;
        max-width: 53%;
        margin-top: 3%
        
    }
  

    .conoce{
        grid-row: 3/4;
        grid-column: 2/3;
        max-width: 40%;
        height: 45%;
        align-self: end;
        margin-top: 10%;
    
    }
    h2{
        font-size: 48px;
        font-weight: lighter;
    }
    .episodios-sec{
        clip-path: polygon(0 12%, 100% 0%, 100% 88%, 0% 100%); 
        width: 100vw;
        margin-top: -10%;

    }
    .epi-title{
        margin-top:15%;
        margin-bottom: 2%;
    }
    .epi-list{
        width: 90vw;
        padding-bottom: 25vmax;
        margin-left: 5%;
        margin-bottom: 0;

    }
    .epi-list:last-child{
        margin-bottom: 0;
    }
    iframe{
        width: 45%;
        height: 60%;
        margin: 2%;
    }

    .tel{
        max-width: 48vw;

    }
    .phone{
        transform: translateY(-20%);
        margin-left: 20%;
        width: 70%;
        margin-bottom: -10%;
    }
    .venimos{
        max-width: 50vw;
        display: block;
        margin: 0; 
        margin-top: 5%;
    }
    .descr-venimos{
        max-width: 70%;
        margin-right: 0;
    }

    .invitados{
        margin: 0;
    }
    .title3{
        margin: 3%;
        margin-left: 15%;
    }

    .galeria{
        display:flex;
        flex-flow: row wrap;
    }
    .inv-est{
        height: auto;
        flex: 1 1 33.3%;
        width: 33.3%;

    }
    .temas{
        width: 100vw;
        margin: 0;
        justify-content: flex-start;
        
    }
    .title-temas{
        height: 48px;
        margin: 5%;
        margin-left: 8%;
        margin-bottom: 3%;
    }
    .aux{
        display: flex;
        flex-direction: row;
        width: 100vw;
        justify-content: center;
        margin-left: 10%;
    }
    .setting-temas{
        max-width: 25vw;   
        margin-left: 0;
        margin-top: 0;
    }
    .st3{
        max-width: 70%;
    }
    .nov-sect{
        width: 100vw;
        clip-path: polygon(0 25%, 100% 0%, 100% 100%, 0% 100%);
    }
    .tit-nov{
        margin: 5%;
        margin-top:15% ;
    }
    .escucha{
        max-width: 25%;
        margin-bottom: 10%;
        
    }

    footer{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100vw;
    }

    .copyright{
        margin: 2%;
        margin-left: 10%;
        max-height: 16px;
    }
    .contacto{
        max-width: 30vw;
        justify-content: center ;
        padding:1% ;
        margin: 0;
    }
}